<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143887662618-ar90umupiac35pme637foropuklokeer.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143887662618-ar90umupiac35pme637foropuklokeer</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>143887662618-vvcqaci4srqrfpuba7eeogje5thc5k4a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMwviCSjeYURaGcWbCsfYS0dCRGTFJu0k</string>
	<key>GCM_SENDER_ID</key>
	<string>143887662618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lhr.oralcare</string>
	<key>PROJECT_ID</key>
	<string>oralcare-4245c</string>
	<key>STORAGE_BUCKET</key>
	<string>oralcare-4245c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143887662618:ios:edc68d7ef35d29f4509ba3</string>
</dict>
</plist>